* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header {
    margin-bottom: 0;
    background-color: black;  
    display: flex;
    justify-content:space-between;
}
h1 {
    margin-top: 0;
    font-size: 55px;
}
h2 {
    text-align: center;
    padding: 50px;
}
.logo { 
    width: 200px;
}
.menu2{
    display: flex;
    justify-content: space-between;
    width: 100px;
}
.menu {
    width: 100%;
}
.premium {
    margin-top: 0;
    background-color: rgb(0, 153, 255);
    color: white;
    flex-direction: row;
    display: block;
    padding-top: 20%;
    padding-left: 10px;
    padding-bottom: 30px;
}
.planes {
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: rgb(14, 190, 14);
    width: 350px;
}
.listado {
    line-height: 30px;
}
.imatext {
    display: flex;
}
.bene {
    width: 100px;
    margin-left: 10px;
    padding-bottom: 30px;
}
.textopremium {
   padding-left: 10px;
   padding-top: 10px;
}

.nota {
    width: 40px;
}

footer { 
    background-color: black;
    color: azure;
}