.header {
    margin-bottom: 0;
    background-color: black;  
    display: flex;
    justify-content:space-between;
}
h1 {
    margin-top: 0;
}
.logo { 
    width: 200px;
}
.premium {
    margin-top: 0;
    background-color: rgb(0, 153, 255);
    color: white;
}
.menu {
    
    width: 100%;
}
footer { 
    background-color: black;
    color: azure;
}
.nota {
    width: 40px;
}

.menu2{
    display: flex;
    justify-content: space-between;
    width: 100px;
}